In [1]:
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans, MeanShift, AgglomerativeClustering, AffinityPropagation, DBSCAN
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import pandas as pd
from scipy.cluster.hierarchy import dendrogram, linkage, fcluster
import fileinput
import numpy as np
import seaborn as sns
from sklearn.manifold import TSNE
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from scipy.stats.mstats import winsorize
import hdbscan
from sklearn.mixture import GaussianMixture
from mpl_toolkits.mplot3d import Axes3D
import warnings
warnings.filterwarnings("ignore")

In [2]:
sales_log = pd.read_csv("https://raw.githubusercontent.com/mn42899/data_scienceii/refs/heads/main/DSII%20Sales%20Log.csv")
accounts = pd.read_csv("https://raw.githubusercontent.com/mn42899/data_scienceii/refs/heads/main/DSII%20-%20Accounts.csv")

In [3]:
sales_log

,Event Name,Game Day,Game Day of Wk,Section,Row,Seat Qty,Acc #,Sale Date,Section Name,Promo Code,Comp,Current Block Price,Sale Day,Net Revenue,Unnamed: 14,Unnamed: 15
0,TML1028,2023-10-28,Sat,100,1,1,11992341,2023-10-14,Club Rinkside,NaN,N,$78.25,Sat,$74.52,NaN,NaN
1,TML1028,2023-10-28,Sat,100,1,1,13204621,2023-10-14,Club Rinkside,NaN,N,$78.25,Sat,$74.52,NaN,NaN
2,TML1028,2023-10-28,Sat,100,18,2,15827713,2023-10-28,Club Platinum,NaN,N,$156.50,Sat,$149.05,NaN,NaN
3,TML1028,2023-10-28,Sat,100,12,2,13425266,2023-10-28,Club Platinum,NaN,N,$156.50,Sat,$149.05,NaN,NaN
4,TML1028,2023-10-28,Sat,100,16,1,7834382,2023-10-25,Club Platinum,NaN,N,$71.20,Wed,$67.81,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25725,TML0505,2024-05-05,Sun,WC106,WC,2,17932830,2024-05-05,Defensive Corner - Upper,NaN,N,$66.00,Sun,$62.86,NaN,NaN
25726,TML0505,2024-05-05,Sun,WC115,WC,1,13212713,2024-05-05,Attacking Corner - Upper,NaN,N,$43.00,Sun,$40.95,NaN,NaN
25727,TML0505,2024-05-05,Sun,WC115,WC,1,16460088,2024-05-05,Attacking Corner - Upper,NaN,N,$43.00,Sun,$40.95,NaN,NaN
25728,TML0505,2024-05-05,Sun,WC115,WC,1,5412621,2024-05-05,Attacking Corner - Upper,NaN,N,$43.00,Sun,$40.95,NaN,NaN
25729,TML0505,2024-05-05,Sun,WC115,WC,1,5412621,2024-05-05,Attacking Corner - Upper,NaN,N,$43.00,Sun,$40.95,NaN,NaN

In [4]:
accounts

,Acc #,Games Attended,Seat Qty,Net Revenue,Most Common Section,Region,Gender,Age
0,10921659,20,24,"$1,597.86",Club Rinkside,East Toronto (Riverdale),F,27
1,2693583,18,59,"$1,488.21",Family Zone,Etobicoke (Rexdale),F,41
2,13195933,18,42,"$2,351.90",Blue Line,Etobicoke (Rexdale),F,37
3,11771829,17,18,$407.38,Family Zone,Scarborough (STC),F,34
4,11895945,16,31,"$2,495.24",Premium,West Toronto (High Park),F,19
...,...,...,...,...,...,...,...,...
12167,403550,1,2,$142.86,Club Gold,North York (Hillcrest Village),F,35
12168,15812920,1,2,$47.62,Club Platinum,North York (Lawrence),F,51
12169,12373562,1,4,$106.67,Defensive Corner - Upper,West Toronto (High Park),F,21
12170,15838743,1,1,$55.48,Blue Line,Downtown Toronto (St. James Town),F,28
12171,3958238,1,2,$142.86,Club Gold,North York (Don Mills),F,37